.resizebar {
    width: 1px;
    cursor: ew-resize;

    &::before {
        content: "";
        background-color: transparent;
        position:relative;
        display:block;
        width: 6px;
        height: 100%;
        left: -3px;
        transition: background-color 0.3s;
    }
    &:hover,
    &.resizing {
        &::before {
            background-color: #171717;
        }
    }
}

.resizing_box{
    user-select:none;
}