@import "tailwindcss";

:root {
  --background: #ffffff;
  --background2: #f1f1f1;
  --foreground: #171717;
  --foreground2: #171717;
  --foreground-hover: #383838;
  --blur-background: rgba(255,255,255,0.7);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background2: var(--background2);
  --color-foreground2: var(--foreground2);
  --color-foreground-hover: var(--foreground-hover);
  --color-blur-background: var(--blur-background);
  --animate-blink: 0.4s linear 0s infinite alternate forwards running blink;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --navbar-height: 64px;
}

@keyframes blink{
  from{
    opacity:0;
  }
  to{
    opacity:100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground2: #dbdbdb;
    --foreground-hover: rgb(255, 255, 255);
    --background2: #4b4b4b;
    --blur-background: rgba(0,0,0,0.7);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.prose{
  h1{
    font-size:2em;
  }
  h2{
  }
}


.blur{

}